// File generated from our OpenAPI spec by Stainless. See CONTRIBUTING.md for details.

import { APIResource } from '../../core/resource';
import * as PipelinesAPI from '../pipelines/pipelines';
import * as RetrieverAPI from './retriever';
import { APIPromise } from '../../core/api-promise';
import { buildHeaders } from '../../internal/headers';
import { RequestOptions } from '../../internal/request-options';
import { path } from '../../internal/utils/path';

export class Retrievers extends APIResource {
  retriever: RetrieverAPI.Retriever = new RetrieverAPI.Retriever(this._client);

  /**
   * Create a new Retriever.
   */
  create(params: RetrieverCreateParams, options?: RequestOptions): APIPromise<Retriever> {
    const { organization_id, project_id, ...body } = params;
    return this._client.post('/api/v1/retrievers', {
      query: { organization_id, project_id },
      body,
      ...options,
    });
  }

  /**
   * Upsert a new Retriever.
   */
  upsert(params: RetrieverUpsertParams, options?: RequestOptions): APIPromise<Retriever> {
    const { organization_id, project_id, ...body } = params;
    return this._client.put('/api/v1/retrievers', {
      query: { organization_id, project_id },
      body,
      ...options,
    });
  }

  /**
   * List Retrievers for a project.
   */
  list(
    query: RetrieverListParams | null | undefined = {},
    options?: RequestOptions,
  ): APIPromise<RetrieverListResponse> {
    return this._client.get('/api/v1/retrievers', { query, ...options });
  }

  /**
   * Get a Retriever by ID.
   */
  get(
    retrieverID: string,
    query: RetrieverGetParams | null | undefined = {},
    options?: RequestOptions,
  ): APIPromise<Retriever> {
    return this._client.get(path`/api/v1/retrievers/${retrieverID}`, { query, ...options });
  }

  /**
   * Update an existing Retriever.
   */
  update(
    retrieverID: string,
    params: RetrieverUpdateParams,
    options?: RequestOptions,
  ): APIPromise<Retriever> {
    const { organization_id, project_id, ...body } = params;
    return this._client.put(path`/api/v1/retrievers/${retrieverID}`, {
      query: { organization_id, project_id },
      body,
      ...options,
    });
  }

  /**
   * Delete a Retriever by ID.
   */
  delete(
    retrieverID: string,
    params: RetrieverDeleteParams | null | undefined = {},
    options?: RequestOptions,
  ): APIPromise<void> {
    const { organization_id, project_id } = params ?? {};
    return this._client.delete(path`/api/v1/retrievers/${retrieverID}`, {
      query: { organization_id, project_id },
      ...options,
      headers: buildHeaders([{ Accept: '*/*' }, options?.headers]),
    });
  }

  /**
   * Retrieve data using specified pipelines without creating a persistent retriever.
   */
  search(params: RetrieverSearchParams, options?: RequestOptions): APIPromise<CompositeRetrievalResult> {
    const { organization_id, project_id, ...body } = params;
    return this._client.post('/api/v1/retrievers/retrieve', {
      query: { organization_id, project_id },
      body,
      ...options,
    });
  }
}

/**
 * Enum for the mode of composite retrieval.
 */
export type CompositeRetrievalMode = 'full' | 'routing';

export interface CompositeRetrievalResult {
  /**
   * @deprecated The image nodes retrieved by the pipeline for the given query.
   * Deprecated - will soon be replaced with 'page_screenshot_nodes'.
   */
  image_nodes?: Array<PipelinesAPI.PageScreenshotNodeWithScore>;

  /**
   * The retrieved nodes from the composite retrieval.
   */
  nodes?: Array<CompositeRetrievalResult.Node>;

  /**
   * The page figure nodes retrieved by the pipeline for the given query.
   */
  page_figure_nodes?: Array<PipelinesAPI.PageFigureNodeWithScore>;
}

export namespace CompositeRetrievalResult {
  export interface Node {
    node: Node.Node;

    class_name?: string;

    score?: number | null;
  }

  export namespace Node {
    export interface Node {
      /**
       * The ID of the retrieved node.
       */
      id: string;

      /**
       * The end character index of the retrieved node in the document
       */
      end_char_idx: number | null;

      /**
       * The ID of the pipeline this node was retrieved from.
       */
      pipeline_id: string;

      /**
       * The ID of the retriever this node was retrieved from.
       */
      retriever_id: string;

      /**
       * The name of the retrieval pipeline this node was retrieved from.
       */
      retriever_pipeline_name: string;

      /**
       * The start character index of the retrieved node in the document
       */
      start_char_idx: number | null;

      /**
       * The text of the retrieved node.
       */
      text: string;

      /**
       * Metadata associated with the retrieved node.
       */
      metadata?: { [key: string]: unknown };
    }
  }
}

export interface ReRankConfig {
  /**
   * The number of nodes to retrieve after reranking over retrieved nodes from all
   * retrieval tools.
   */
  top_n?: number;

  /**
   * The type of reranker to use.
   */
  type?: 'bedrock' | 'cohere' | 'disabled' | 'llm' | 'score' | 'system_default';
}

/**
 * An entity that retrieves context nodes from several sub RetrieverTools.
 */
export interface Retriever {
  /**
   * Unique identifier
   */
  id: string;

  /**
   * A name for the retriever tool. Will default to the pipeline name if not
   * provided.
   */
  name: string;

  /**
   * The ID of the project this retriever resides in.
   */
  project_id: string;

  /**
   * Creation datetime
   */
  created_at?: string | null;

  /**
   * The pipelines this retriever uses.
   */
  pipelines?: Array<RetrieverPipeline>;

  /**
   * Update datetime
   */
  updated_at?: string | null;
}

export interface RetrieverCreate {
  /**
   * A name for the retriever tool. Will default to the pipeline name if not
   * provided.
   */
  name: string;

  /**
   * The pipelines this retriever uses.
   */
  pipelines?: Array<RetrieverPipeline>;
}

export interface RetrieverPipeline {
  /**
   * A description of the retriever tool.
   */
  description: string | null;

  /**
   * A name for the retriever tool. Will default to the pipeline name if not
   * provided.
   */
  name: string | null;

  /**
   * The ID of the pipeline this tool uses.
   */
  pipeline_id: string;

  /**
   * Parameters for retrieval configuration.
   */
  preset_retrieval_parameters?: PipelinesAPI.PresetRetrievalParams;
}

export type RetrieverListResponse = Array<Retriever>;

export interface RetrieverCreateParams {
  /**
   * Body param: A name for the retriever tool. Will default to the pipeline name if
   * not provided.
   */
  name: string;

  /**
   * Query param
   */
  organization_id?: string | null;

  /**
   * Query param
   */
  project_id?: string | null;

  /**
   * Body param: The pipelines this retriever uses.
   */
  pipelines?: Array<RetrieverPipeline>;
}

export interface RetrieverUpsertParams {
  /**
   * Body param: A name for the retriever tool. Will default to the pipeline name if
   * not provided.
   */
  name: string;

  /**
   * Query param
   */
  organization_id?: string | null;

  /**
   * Query param
   */
  project_id?: string | null;

  /**
   * Body param: The pipelines this retriever uses.
   */
  pipelines?: Array<RetrieverPipeline>;
}

export interface RetrieverListParams {
  name?: string | null;

  organization_id?: string | null;

  project_id?: string | null;
}

export interface RetrieverGetParams {
  organization_id?: string | null;

  project_id?: string | null;
}

export interface RetrieverUpdateParams {
  /**
   * Body param: The pipelines this retriever uses.
   */
  pipelines: Array<RetrieverPipeline> | null;

  /**
   * Query param
   */
  organization_id?: string | null;

  /**
   * Query param
   */
  project_id?: string | null;

  /**
   * Body param: A name for the retriever.
   */
  name?: string | null;
}

export interface RetrieverDeleteParams {
  organization_id?: string | null;

  project_id?: string | null;
}

export interface RetrieverSearchParams {
  /**
   * Body param: The query to retrieve against.
   */
  query: string;

  /**
   * Query param
   */
  organization_id?: string | null;

  /**
   * Query param
   */
  project_id?: string | null;

  /**
   * Body param: The mode of composite retrieval.
   */
  mode?: CompositeRetrievalMode;

  /**
   * Body param: The pipelines to use for retrieval.
   */
  pipelines?: Array<RetrieverPipeline>;

  /**
   * Body param: The rerank configuration for composite retrieval.
   */
  rerank_config?: ReRankConfig;

  /**
   * @deprecated Body param: (use rerank_config.top_n instead) The number of nodes to
   * retrieve after reranking over retrieved nodes from all retrieval tools.
   */
  rerank_top_n?: number | null;
}

export declare namespace Retrievers {
  export {
    type CompositeRetrievalMode as CompositeRetrievalMode,
    type CompositeRetrievalResult as CompositeRetrievalResult,
    type ReRankConfig as ReRankConfig,
    type Retriever as Retriever,
    type RetrieverCreate as RetrieverCreate,
    type RetrieverPipeline as RetrieverPipeline,
    type RetrieverListResponse as RetrieverListResponse,
    type RetrieverCreateParams as RetrieverCreateParams,
    type RetrieverUpsertParams as RetrieverUpsertParams,
    type RetrieverListParams as RetrieverListParams,
    type RetrieverGetParams as RetrieverGetParams,
    type RetrieverUpdateParams as RetrieverUpdateParams,
    type RetrieverDeleteParams as RetrieverDeleteParams,
    type RetrieverSearchParams as RetrieverSearchParams,
  };
}
